/* eslint-disable */

// 颜色变量
$c10903d: #10903d;
$c24be5a: #24be5a;
$c29db67: #29db67;
$c000: #000;
$c757575: #757575;
$cfff :#fff;
$cfafafa:#fafafa;
$ce8e8e8: #e8e8e8;
$cf00:#ff0000;
$c00a2eb:#00a2eb;
// 字体大小变量
$f36:36px;
$f28:28px;
$f24:24px;
$f22:22px;
// 设计图是750
$designWidth:750;
